@model BlogApp.ViewModels.CreatePostViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Create new post</h2>

            <form asp-controller="Posts" asp-action="Create" method="post">
                <div class="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                                        
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label asp-for="@Model.post.Headline" class="control-label"></label>
                            <input asp-for="@Model.post.Headline" placeholder="Headline" class="form-control" />
                            <span asp-validation-for="@Model.post.Headline" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="col-md-2 control">
                            <label asp-for="@Model.category.CategoryName"></label>
                            <select asp-for="@Model.post.CategoryId" asp-items="@(new SelectList(@ViewBag.ListOfCategories,"ID","CategoryName"))"></select>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">                            
                            <label asp-for="@Model.post.Caption" class="control-label"></label>
                            <input asp-for="@Model.post.Caption" placeholder="Caption" class="form-control" />
                            <span asp-validation-for="@Model.post.Caption" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">                            
                            <label asp-for="@Model.post.PostedText" class="control-label"></label>                            
                            <textarea rows="5" class="form-control" asp-for="@Model.post.PostedText" placeholder="Post"></textarea>
                            <span asp-validation-for="@Model.post.PostedText" class="text-danger"></span>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button id="SubmitPost" type="submit" class="btn btn-default btn-block" >
                                <i class="fa fa-fw fa-paper-plane"></i>Post it
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                @if (ViewBag.SelectedValue != null) {
                                   <text>Selected CategoryID:</text> @ViewBag.SelectedValue;
                                }
                            </div>
                        </div>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
