@model BlogApp.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure you want to delete this post?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedText)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostedText)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd>           
            @if(Model.Approved)
            {
                <span class="label label-success">YES</span>
            }
            else
            {
                <span class="label label-danger">NO</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd>
            @if (Model.Edited)
            {
                <span class="label label-success">YES</span>
            }
            else
            {
                <span class="label label-danger">NO</span>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <a asp-action="Index" class="btn btn-primary btn-block">
                    <i class="fa fa-fw fa-arrow-left" aria-hidden="true"></i>
                    Back to List
                </a>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-danger btn-block">
                    <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>
