@model IEnumerable<BlogApp.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div>
            @if (Model.Count() != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Headline)
                            </th>
                            <th>
                                Category
                            </th>                            
                            <th>
                                @Html.DisplayNameFor(model => model.Approved)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PostedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Edited)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Headline)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                </td>                                
                                <td>                                                                   
                                    @if (item.Approved)
                                    {
                                        <span class="label label-success">YES</span>
                                    }
                                    else
                                    {
                                        <span class="label label-danger">NO</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostedAt)
                                </td>
                                <td>
                                    @if (item.Edited)
                                    {
                                        <span class="label label-success">YES</span>

                                    }
                                    else{ 
                                        <span class="label label-danger">NO</span>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-xs btn-success" asp-action="Edit" asp-route-id="@item.ID">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                    </a> 
                                    <a class="btn btn-xs btn-default" asp-action="Details" asp-route-id="@item.ID">
                                        <i class="fa fa-info" aria-hidden="true"></i> Details
                                    </a> 
                                    <a class="btn btn-xs btn-danger" asp-action="Delete" asp-route-id="@item.ID">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                                     </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading text-center text-info">There is no record in database for any wirted post.</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
