@model IEnumerable<BlogApp.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Headline)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Caption)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostedText)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Likes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Approved)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PostedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Edited)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Headline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Caption)
                            </td>
                            <td>
                               @item.PostedText.ToString()
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Likes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Approved)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PostedAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Edited)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>
