@model IEnumerable<BlogApp.Models.Category>

@{
    ViewData["Title"] = "Index";
    var categorySize = Model.Count();
}

<div class="container-fluid">

    <h2>Post categories</h2>
    @if (categorySize != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Category name
                    </th>
                    <th>
                        Moderator posts rule                    
                    </th>                
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostRule)
                        </td>
                        <td>
                            <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.ID">
                                <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                            </a>
                            <a class="btn btn-default btn-xs" asp-action="Details" asp-route-id="@item.ID">
                                <i class="fa fa-info" aria-hidden="true"></i> Details
                            </a>
                            <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.ID">
                                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading text-center text-info">There are no categories in system!</div>
            </div>
        </div>
    }
 </div>