@model IEnumerable<BlogApp.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">

    <h2>Post categories</h2>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LikesRule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostRule)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostRule)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LikesRule)
                    </td>
                    <td>
                        <a class="btn btn-success btn-xs" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a class="btn btn-default btn-xs" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
 </div>