@using BlogApp.Models;
<!--model BlogApp.ViewModels.ApprovePostsIndexViewModel-->
@model BlogApp.Special.PaginatedList<BlogApp.Models.Post>

@{
    ViewData["Title"] = "Approving Posts";
    //var postsSize = Model.Posts.Count;
    var postsSize = Model.Count();
}
<div class="container-fluid">
    @if (postsSize != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <td><strong>Headline</strong></td>
                    <td><strong>Username</strong></td>
                    <td><strong>Category</strong></td>
                    <td><strong>Posted at</strong></td>
                    <td><strong>Approve</strong></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {

                    <tr>
                        <td>@post.Headline</td>
                        <td>@post.UserName</td>
                        <td>@post.Category.CategoryName</td>
                        <td>@post.PostedAt</td>
                        <td>
                            <a class="btn btn-success btn-xs" asp-action="Update" asp-route-id="@post.ID">
                                <i class="fa fa-check"></i>Aprove
                            </a>
                        </td>
                    </tr>

                }
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
            </tbody>
        </table>
        <!-- Pager -->
        <ul class="pager">
            <li class="previous">
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex - 1)"
                   class="btn btn-default @prevDisabled">
                    &larr;
                    Previous
                </a>
            </li>             
            <li class="next">
                <a asp-action="Index"
                   asp-route-page="@(Model.PageIndex + 1)"
                   class="btn btn-default @nextDisabled">
                    Next
                    &rarr;
                </a>
            </li>            
         </ul>
     }
     else
     {
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading text-center text-info">All posts are approved!</div>
            </div>
        </div>
    }
</div>